$color-primary: #646cff;

.colorprimary {
  color: $color-primary;
  font-weight: bold;
}

.price {
  color: green;
  font-weight: bold;
}

.logostyle {
  padding: 16px;
  display: flex;

  img {
    height: 27px;
    margin-right: 8px;

    @media (max-width: 768px) {
      height: 20px;
    }
  }

  .logotext {
    // color: white;
    font-size: 20px;
  }
}

.menustyle {
  :global(.ant-menu-item) {
    margin: 0;
    width: 100%;
    border-radius: 0;
    font-size: 16px;
    padding-left: 16px !important;

    :global(.anticon) {
      font-size: 16px;
    }
  }
}

.tablestyle {
  margin-bottom: 64px;

  :global(.ant-table-cell) {
    padding: 10px 16px !important;

    @media (max-width: 768px) {
      padding: 8px 10px !important;

    }
  }

  colgroup {
    col {
      @media (max-width: 768px) {
        width: 100% !important;

        &:first-child {
          width: 50px !important;
        }
      }
    }
  }

  thead,
  tbody {
    tr {

      th:first-child,
      td:first-child {
        padding-left: 24px;
      }
    }
  }
}